header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 70px;
	background-color: #996633;
}

header nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.5em;
	margin-right: 5%;
}

.nav-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 0.8em;
	cursor: pointer;
	user-select: none;
}

.nav-container:hover {
	color: #f5f5f5;
}

.settings {
	position: absolute;
	left: 0;
	width: 20%;
}

.accordion-button {
	color: black !important;
	box-shadow: none !important;
	background-color: #9966338e !important;
	font-weight: 600;
	font-size: 1.2em;
}

.accordion-body {
	background-color: #99663348 !important;
}

.checkbox-list {
	list-style: none;
}

.aside-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 10px;
}

.aside-button {
	background-color: orange;
	border-radius: 5px;
	padding: 10px;
	width: 50%;
}

.products {
	margin: 5% 0;
	height: 100px;	
}

.card {
	text-align: center;
	cursor: pointer;
}

.card-button {
	background-color: orange;
	width: 50%;
	padding: 5px;
	border-radius: 5px;
}

.hide {
	display: none !important;
}